@import 'primevue/resources/themes/lara-light-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=La+Belle+Aurore&display=swap');

body{
    background-color: $base-background;
    margin: 0px;
}

*{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}