@mixin flex($dir, $jc, $ai, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1025px) {
    @content;
  }
}
